.box{
    display: flex;
    background-color: rgb(38, 166, 38);
    color: white;
    align-items: center;
    justify-content: space-between;
}

.text{
    margin-right: 30px;
}

b{
    margin-left: 20px;
}

.box2{
    background-color: rgb(246, 246, 246);
    display: flex;
    height: 450px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h2{
    font-size: 50px;
    margin-bottom: -3px;
}

h3{
    margin-left: 20px;
}

.start{
    border: none;
    background-color: rgb(53, 228, 53);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 120px;
}

button{
    border: none;
    background-color:  rgb(236, 235, 235);
    height: 50px;
    width: 470px;
    margin-left: 20px;
}

.box3{
    background-color: rgb(255, 255, 255);
    display: flex;
}

.box4{
    background-color: rgb(59, 59, 59);
    color: white;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}