.box{
    background-color: rgb(255, 255, 255);
    border-left: 7px solid orange;
}
h1{
    margin-left: 10px;
}

b{
    font-size: 20px;
}

.b2{
    margin-top: -15px;

}
hr{
    width: 30%;
    margin-left: -2px;
}