body {
    display: flex;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    align-items: center;      /* Căn giữa theo chiều dọc */
    height: 100vh;            /* Chiều cao của viewport */
    margin: 0;                /* Loại bỏ margin mặc định */
 }             

 .boxtong{
     background-color: aliceblue;
     width: 27%;
     height: 590px;
 }
 .box{
     display: flex;
     justify-content: center;
     text-align: center;
 }
 img{
     margin-top: 10px;
     border-radius: 7px;
     width: 400px;
     position: relative;
     margin-bottom: 20px;
     margin-left: -5px;
 }
 .img1 img{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-left: 10px;

 }
 button{
     position: absolute;
     color: rgb(203, 202, 202);
     border: 1.5px solid rgb(208, 207, 207);
     background: transparent;
     height: 30px;
     border-radius: 5px;
     margin-left: -90px;
     margin-top: 20px;
 }
 .text1{
     margin-left: 20px;
     margin-top: 27px;
 }
 .text2{
     margin-left: 10px;
     margin-top: -20px;
     color: rgb(156, 153, 153);
 }
 .text3{
     margin-left: 10px;
 }
 .text4{
     font-size: 19px;
     margin-left: 10px;
     color: rgb(153, 149, 149);
 }