.box1{
    background-color: rgb(73, 177, 251);
    width: 1000px;
    height: 40px;
    display: flex;
    align-items: center;
    
}
.box2{
    background-color: rgb(53, 205, 53);
    width: 300px;
    height:450px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;/* Dùng flexbox để căn giữa nội dung */
    align-items: center;
}
.box3{
    background-color: rgb(231, 65, 65);
    width: 690px;
    height:450px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;/* Dùng flexbox để căn giữa nội dung */
    align-items: center;

}
.box4{
    background-color: rgb(135, 83, 240);
    width: 1000px;
    height: 40px;
    display: flex;
    align-items: center;
    
}
h4{
    margin-left: 10px;
    color: white;
}
.text1{
    margin-top: -400px;
    display: flex;              
    align-items: center;
}
.text2{
    margin-top: -400px;
    display: flex;              
    align-items: center;
}